*{
    margin: 0px ;padding: 0px;
}
  @media only screen and (max-width: 768px) {
    /* For desktop: */
    
.container {
    width: 100%;
}
.singlebox {
    width: 100%;
    display: inline-block;
    margin: 10px;
}
.aboxdesc p {
    margin: 30px 0px 30px 10px;
    font-size: 20px;
    width: 310px;
    text-align: center;
    cursor: default;
    align-items: center;
    margin-left: 180px;
}
.sliderapper {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.aboxtitle {
    line-height: 30px;
    margin: 25px 0px;
    letter-spacing: 1px;
    color: #333;
}
.aboxlink {
    margin-left: 10px;
    margin-bottom: 40px;
    text-align: center;
}
.teamcontain {
    width: 100%;
}
.teamimg {
    width: 100%;
}
.teamdetails {
    width: 100%;
}
.titledesc h2 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}
.icon {
    width: 100%;
    text-align: center;
    margin: auto;
    display: inline-block;
    padding-bottom: 90px;
}
.iconwrapper {
    display: inline-block;
}
 }
 